<div class="page-header">
  <%= link_to requests_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_request_path(@request), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Show request</h1>
</div>

<dl>
  <dt>ID:</dt>
  <dd>#<%= "%04d" % @request.id %></dd>

  <dt>State:</dt>
  <dd><%= @request.state %></dd>

  <dt>Scope:</dt>
  <dd><%= @request.scope %></dd>

</dl>
